node_modules
.pnpm-store

dist
build
.next
out
.turbo
coverage
*.tsbuildinfo

.env
.env.local
.env.*.local
!.env.example

.DS_Store
Thumbs.db

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json.example
.idea

playwright-report
test-results

/prisma/*.db
*.sqlite
*.sqlite-journal
